window {
  font-family: "JetBrains Mono";
  font-size: 16pt;
  background-image: url("/home/poyehchen/Pictures/Wallpapers/104200866_p0_blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
