* {
  font-family: "JetBrainsMono NFM";
  font-size: 12pt; }

.bar {
  background-color: transparent; }

.container {
  margin: 5px 10px 5px 10px; }

label {
  font-weight: bold; }

progressbar trough {
  background: #45475a;
  border-radius: 5px; }

.workspaces {
  background: #1e1e2e;
  border-radius: 5px;
  padding: 0 10px 0 10px; }

.workspaces button {
  background-color: transparent;
  padding: 5px;
  border: 0px transparent; }

.workspaces button:hover {
  background-color: rgba(205, 214, 244, 0.1); }

.workspaces button:active {
  background-color: rgba(205, 214, 244, 0.2); }

.workspaces button.blank {
  color: #45475a; }

.workspaces button.focused {
  color: #b4befe; }

.workspaces button.occupied {
  color: #7f849c; }

.tray {
  background: #1e1e2e;
  border-radius: 5px;
  padding: 0 5px 0 5px; }

.tray button {
  background: transparent;
  padding: 5px; }

.tray button:hover {
  background: transparent; }

.clock {
  color: #cdd6f4;
  font-weight: bold; }

.centerpanebutn {
  background: #1e1e2e;
  border-radius: 5px;
  padding: 0 10px 0 10px; }

.centerpanel {
  background: transparent;
  padding: 20px; }

.calendar {
  margin: 10px; }

.centerpanelbox {
  background: #313244;
  border-radius: 10px;
  border: 2px solid #b4befe;
  padding: 10px; }

.battery {
  padding: 0; }

.battery > label.charging {
  color: #a6e3a1; }

.battery > label.high {
  color: #89b4fa; }

.battery > label.mid {
  color: #f9e2af; }

.battery > label.low {
  color: #f38ba8; }

.battery > progressbar trough {
  min-width: 50px; }

.battery > progressbar.charging trough progress {
  background: #a6e3a1; }

.battery > progressbar.high trough progress {
  background: #89b4fa; }

.battery > progressbar.mid trough progress {
  background: #f9e2af; }

.battery > progressbar.low trough progress {
  background: #f38ba8; }

.info {
  background: #1e1e2e;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  padding: 0 10px 0 10px; }

.separator {
  color: #45475a;
  padding: 0 5px 0 5px; }

.volume {
  padding: 0; }

.volume label {
  font-size: 22px;
  color: #89dceb;
  padding: 0; }

.brightness {
  padding: 0; }

.brightness label {
  font-size: 22px;
  color: #f9e2af;
  padding: 0; }

.music {
  background: #1e1e2e;
  border-radius: 5px;
  color: #cdd6f4;
  min-width: 260px;
  padding: 10px; }

.music-art {
  min-width: 240px;
  min-height: 240px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  margin: 0; }

.music-cover {
  border-radius: 5px; }

.music-info {
  padding: 0; }

.music-title {
  font-family: "LXGW WenKai TC";
  font-size: 14pt;
  font-weight: bold; }

.music-album {
  font-family: "LXGW WenKai TC";
  font-size: 12pt;
  color: #bac2de; }

.music-artist {
  font-family: "LXGW WenKai TC";
  font-size: 12pt;
  color: #a6adc8; }

.music-misc {
  font-size: 9pt;
  color: #a6adc8; }

.music-scroll scrollbar {
  color: transparent;
  background: transparent;
  border: 0px transparent; }

.music-scroll scrollbar trough {
  color: transparent;
  background: transparent;
  border: 0px transparent; }

.music-scroll scrollbar contents {
  color: transparent;
  background: transparent;
  border: 0px transparent; }

.music-scroll scrollbar slider {
  color: transparent;
  background: transparent;
  border: 0px transparent; }

.music-control {
  font-family: 'JetBrainsMono Nerd Font';
  margin: 0 5px 0 5px; }
  .music-control button {
    background: #1e1e2e; }
  .music-control button:hover {
    background: #1e1e2e;
    box-shadow: unset; }

.music-control-butn {
  font-size: 20px;
  color: #cdd6f4; }

calendar {
  all: unset;
  padding: 5px;
  background: #1e1e2e;
  border-radius: 5px;
  font-family: 'JetBrains Mono';
  color: #cdd6f4; }
  calendar.button {
    color: #cdd6f4; }
  calendar:selected {
    background: #b4befe;
    color: #1e1e2e;
    border-radius: 5px; }
  calendar.header {
    color: #89b4fa; }
  calendar.highlight {
    color: #f38ba8; }
  calendar:indeterminate {
    color: #9399b2; }

.weather-icon-small {
  font-family: "JetBrains Mono", "Symbols Nerd Font";
  font-weight: bold;
  color: #cdd6f4; }

.weather-card {
  background-color: #1e1e2e;
  border-radius: 5px;
  padding: 10px;
  color: #cdd6f4; }

.weather-label {
  font-family: "Symbols Nerd Font";
  font-weight: normal;
  font-size: 64px; }

.weather-info-city {
  font-size: 16px; }

.weather-info-cond {
  font-size: 14px; }
