@import "./mocha.scss";

.tray {
    background: $base;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

.tray button {
    background: transparent;
    padding: 5px;
}

.tray button:hover {
    background: transparent;
}
