@import "./mocha.scss";

.weather-icon-small {
    font-family: "JetBrains Mono", "Symbols Nerd Font";
    font-weight: bold;
    color: $text;
    // font-size: 24pt;
}

.weather-card {
    background-color: $base;
    border-radius: 5px;
    padding: 10px;
    color: $text;
}

.weather-label {
    font-family: "Symbols Nerd Font";
    font-weight: normal;
    font-size: 64px;
}

.weather-info-city {
    font-size: 16px;
}

.weather-info-cond {
    font-size: 14px;
}
