@import "./mocha.scss";

.workspaces {
    background: $base;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

.workspaces button {
    background-color: transparent;
    padding: 5px;
    border: 0px transparent;
}

.workspaces button:hover {
    background-color: rgba($text, 0.1);
}

.workspaces button:active {
    background-color: rgba($text, 0.2);
}

.workspaces button.blank {
    color: $surface1;
}

.workspaces button.focused {
    color: $lavender;
}

.workspaces button.occupied {
    color: $overlay1;
}

